/* fonts */

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
}

/* Variables (всегда единый регистр) */

:root {
  --basic-black: #000000;
  --opacity-black: rgba(0, 0, 0, 0.3);
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C62EE8;
  --footer-dash: #FFC600;
  --status: #F6DADA;
  --pagination-color: #D9D9D9;
  --modal-background-color: #F2F2F2;
  --modal-background-color-hover: #EAEAEA;
  --range-controls-scale: #d7DCDE;
  --range-controls-bar: #00CA74;
  --disable-checkbox: #A6A6A6;
  --button-background: rgba(238, 238, 238, 0.7);
  --common-Gilroy: "Gilroy", "Arial", "Verdana", sans-serif;
  --common-OpenSans: "Open Sans", "Arial", "Verdana", sans-serif;
  --black-border: 2px solid var(--basic-black);
}

/* Убираем лишнее (Данные из учебника) */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

/* Нормализация стилей  */

.image {
  vertical-align: middle;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Скрываем заголовки section (Принятые свойства для данного класса) */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

/* Кнопки с перечеркиванием  */

.button-link {
  color: var(--basic-black);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  justify-content: center;
  line-height: 22px;
  display: inline-flex;
  min-height: 40px;
  line-height: 40px;
  position: relative;
  z-index: 0;
}

.button-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 8px;
  transform: translateY(-50%);
  width: 100%;
  background-color: var(--special-yellow-dark);
  z-index: -1;
  transition: height 300ms;
}

.button-link:hover::before, .button-link:focus::before {
  height: 100%;
}

.button-link:active {
  color: var(--opacity-black)
}

/* Общие кнопки header/footer */

.client-button {
  font-family: var(--common-OpenSans);
  color: var(--basic-black);
  font-size: 15px;
  line-height: 20px;
}

.client-navigation {
  color: var(--basic-black);
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Основное тело сайта  */

.page-body {
  font-family: var(--common-Gilroy);
  font-weight: 300;
  display: grid;
  grid-template-areas: "main-header" "container-center" "main-footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* HEADER */

.main-header {
  margin-top: 40px;
  position: relative;
  padding: 29px 60px 50px 60px;
  background-color: var(--special-yellow);
  grid-area: main-header;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 85px auto;
  grid-template-areas: "search-form  main-navigation__list " "header-navigation  header-navigation";
}

.main-header__logo {
  position: absolute;
  margin-top: -20px;
  margin-left: 60px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.search-form {
  grid-area: search-form;
  width: fit-content;
  height: 50px;
  display: flex;
  position: relative;
}

.search-form::before {
  content: url(../img/index/svg/logo_search.svg);
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
}

.search-form__input {
  padding-left: 38px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

.search-form__input:focus {
  border-bottom: var(--black-border);
  outline: none;
}

.search-form__input::placeholder {
  font-size: 15px;
  font-family: inherit;
  opacity: 0.3;
}

.search-form__input:focus::placeholder {
  opacity: 1;
}

.search-form__button {
  display: none;
  border: var(--black-border);
  font-size: 15px;
  text-transform: uppercase;
  padding: 8px 17px;
}

.search-form:focus-within .search-form__button, .search-form:hover .search-form__button {
  display: block;
}

.main-navigation__list {
  grid-area: main-navigation__list;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  width: 100%;
  margin-left: 130px;
}

.index-navigation__list {
  grid-area: main-navigation__list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 500px;
  height: 50px;
  width: 100%;
  margin-left: auto;
}

.index-navigation__list li:hover {
  opacity: 0.6;
}

.index-navigation__list li:active {
  opacity: 0.2;
}

.catalog-navigation__list {
  grid-area: main-navigation__list;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  width: 100%;
  margin-left: auto;
}

.index-client-button__login {
  display: flex;
}

.index-client-button__login::before {
  content: url(../img/index/svg/icon_user.svg);
  padding-top: 2px;
  margin-right: 11px;
}

.catalog-client__login {
  position: 20px;
  margin-left: 10px;
  margin-right: auto;
}

.catalog-client__login::before {
  content: url(../img/index/svg/icon_user.svg);
  top: 2px;
  right: 11px;
  position: relative;
}

.index-client-button__checkout {
  margin-left: 30px;
}

.index-client__compare {
  margin-left: auto;
}

.index-client-button__compare {
  padding-left: 10px;
}

.index-client-button__compare::before {
  content: url(../img/index/svg/icon_compare.svg);
  margin-right: 15px;
}

.index-client-button__basket {
  margin-left: 43px;
}

.index-client-button__basket::before {
  content: url(../img/index/svg/icon_cart.svg);
  margin-right: 12px;
}

.catalog-client-button__checkout {
  margin-left: -30px;
}

.catalog-client-button__compare {
  margin-right: 10px;
}

.catalog-client__variable {
  margin-left: auto;
}

.catalog-client-button__basket {
  margin-left: 54px;
}

.catalog-client-link {
  font-family: var(--common-OpenSans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}

.client .client-link {
  font-family: var(--common-OpenSans);
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  display: flex;
  flex-wrap: wrap;
  max-width: 100px;
}

.client-button__login {
  margin-left: 20px;
}

.client-button__compare {
  margin-left: auto;
}

.client-button__basket {
  margin-left: 66px;
  padding-right: 3px;
}

.client-navigation__catalog {
  grid-area: client-navigation__catalog;
  display: flex;
  margin-right: auto;
}

.client-navigation__catalog:hover {
  opacity: 0.6;
}

.client-navigation__catalog:active {
  opacity: 0.3;
}

.client-navigation__catalog::after {
  content: "";
  background-image: url(../img/index/svg/icon_plus.svg);
  width: 15px;
  height: 15px;
  margin-left: 16px;
  margin-top: 1px;
  position: relative;
}

.header-navigation {
  grid-area: header-navigation;
  display: flex;
}

.header-navigation__item {
  display: flex;
  margin-right: auto;
}

.header-navigation__list a:hover {
  opacity: 0.6;
}

.header-navigation__list a:active {
  opacity: 0.3;
}

.header-navigation__list {
  display: flex;
  max-width: 502px;
  width: 100%;
  margin-right: -0.2em;
}

.header-navigation__list .client-navigation__warranty {
  margin-left: 34px;
}

.header-navigation__list .client-navigation__contacts {
  margin-left: auto;
}

/* HEADER-CATALOG */

.catalog__container-center {
  position: relative;
}

.drop-down-directory {
  position: absolute;
  z-index: 2;
  background-color: var(--special-yellow);
  display: flex;
  flex-wrap: wrap;
  gap: 0 63px;
  padding-left: 60px;
  width: 1160px;
  margin-left: -60px;
  margin-top: 20px;
  padding-bottom: 24px;
  padding-top: 31px;
}

.drop-down-directory a:hover {
  opacity: 0.6;
}

.drop-down-directory a:active {
  opacity: 0.3;
}

.header-navigation__item .drop-down-directory {
  display: none;
}

.header-navigation__item:hover .drop-down-directory {
  display: flex;
  position: absolute;
  z-index: 2;
}

.drop-down-directory__item {
  padding-bottom: 17px;
  font-family: var(--common-OpenSans);
  font-size: 15px;
  line-height: 20px;
}

.drop-down-directory__item a {
  color: var(--basic-black);
  font-family: var(--common-OpenSans);
  font-size: 15px;
  line-height: 20px;
}

/* СЛАЙДЕР */

.main-slider {
  overflow: hidden;
  background-image: linear-gradient(to bottom, var(--special-yellow) 131px, var(--basic-white) 114px);
  position: relative;
  margin-top: -17px;
}

.main-slider__item {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 493px;
  grid-template-rows: 200px 100px 62px 130px;
  grid-template-areas: "slider__img main-slider__title" "slider__img main-slider__subtitle" "slider__img button-more " "slider__img item-specifications";
  padding: 0 67px;
  min-width: 1160px;
  max-width: 1160px;
  margin-top: 3px;
}

.main-slider__list {
  counter-reset: slider-list;
  display: flex;
}

.main-slider__list li::after {
  counter-increment: slider-list;
  content: "0" counter(slider-list);
  position: absolute;
  right: 46px;
  font-size: 179px;
  line-height: 1;
  color: var(--basic-white);
  font-weight: 800;
  top: 2px;
  right: 48px;
}

.main-slider__title {
  grid-area: main-slider__title;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  width: 431px;
  height: min-content;
  margin-top: 92px;
}

.main-slider__title::before {
  content: "";
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  position: absolute;
  top: 33px
}

.slider__img {
  grid-area: slider__img;
  margin-left: 22px;
  margin-top: -2px;
}

.main-slider__subtitle {
  grid-area: main-slider__subtitle;
  font-family: var(--common-OpenSans);
  font-size: 15px;
  line-height: 20px;
  margin-top: 34px;
}

.button-more {
  grid-area: button-more;
  width: 220px;
  align-self: center;
  margin-top: 28px;
  justify-content: center;
  padding-left: 4px;
}

.item-specifications {
  grid-area: item-specifications;
  display: grid;
  grid-template-columns: repeat(3, 150);
  grid-template-rows: repeat(2, 72);
  column-gap: 15px;
  margin-top: 39px;
}

.item-specifications__subtitle {
  font-size: 13px;
  line-height: 15px;
  grid-row: 2/2;
  letter-spacing: 0.1em;
}

.item-specifications__value {
  font-size: 36px;
  line-height: 42px;
  margin-left: 0;
  margin-bottom: 10px;
  margin-top: 15px;
  letter-spacing: 0.1em;
}

.main-slider__buttons {
  display: flex;
  right: 70px;
  top: 342px;
  position: absolute;
}

.main-slider__button {
  background-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid var(--basic-black);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-slider__button-active::after {
  content: "";
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  position: absolute;
}

.main-slider__buttons li {
  margin-right: 18px;
}

/* section SERVICES */

.services-list {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  margin-top: 112px;
  --item-width: 160px;
  padding-bottom: 40px;
}

.services-list__item {
  width: var(--item-width);
  padding-top: var(--item-width);
  position: relative;
  text-decoration: none;
}

.services-list__link {
  display: inline-grid;
  margin-top: 38px;
  letter-spacing: 0.05em;
}

.services-list__link::before, .services-list__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--item-width);
  height: var(--item-width);
}

.services-list__link::before {
  background-color: var(--special-yellow);
}

.services-list__link::after {
  background-position: center;
  background-repeat: no-repeat;
}

.services-list__link {
  color: var(--basic-black)
}

.services-list__link:hover::before {
  background-color: var(--special-yellow-dark);
}

.services-list__link:active::after {
  opacity: 0.3;
}

.services-list__link-vr::after {
  background-image: url(../img/index/svg/vr.svg);
}

.services-list__link-mobile::after {
  background-image: url(../img/index/svg/mobile.svg);
}

.services-list__link-actioncam::after {
  background-image: url(../img/index/svg/actioncam.svg);
}

.services-list__link-puls::after {
  background-image: url(../img/index/svg/puls.svg);
}

.services-list__link-watch::after {
  background-image: url(../img/index/svg/watch.svg);
}

.services-list__link-copter::after {
  background-image: url(../img/index/svg/copter.svg);
}

/* section features-button*/

.features-buttons__item {
  width: 160px;
}

/* РАЗДЕЛ features */

.features {
  background-image: linear-gradient(to bottom, var(--basic-white) 100px, var(--basic-grey-light) 100px);
}

.features .container {
  display: grid;
  grid-template-columns: 284px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "features-buttons__list features__item-active ";
  margin-top: 43px;
  padding-right: 300px;
}

.features__list {
  padding-left: 117px;
}

.features__item {
  display: none;
}

.features__item-active {
  display: block;
  max-width: 600px;
  position: relative;
}

.features-buttons__list {
  display: grid;
  grid-area: features-buttons__list;
  grid-template-columns: 1fr;
  grid-row-gap: 21px;
  margin-top: 81px;
  /* margin-left: 2px; */
  position: relative;
  /* padding-left: 2px; */
  padding-right: 2px;
  /* margin-right: 2px; */
}

.features-buttons__list::after {
  content: "";
  width: 7px;
  height: calc(100% + 78px*2);
  right: 0;
  top: -81px;
  display: block;
  background-color: var(--basic-black);
  position: absolute;
}

.features-buttons__item {
  width: 160px;
  padding: 0;
}

.features-buttons__item-active {
  width: 100%;
  background-color: var(--basic-black);
  color: var(--special-yellow);
  padding-right: 118px;
}

.features-buttons__item-active::before {
  content: none;
}

.features__title {
  font-size: 47px;
  letter-spacing: 0.2em;
  line-height: 58px;
  grid-area: features__title;
  margin-top: 73px;
}

.features__subtitle {
  font-family: var(--common-OpenSans);
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  grid-area: features__subtitle;
  margin: -8px 0 129px 0px;
  width: 495px;
}

.features__item-delivery::after {
  content: url(../img/index/svg/delivery.svg);
  position: absolute;
  right: -263px;
  top: -3px;
}

.features__item-warranty::after {
  content: url(../img/index/svg/warranty.svg);
  position: absolute;
  right: -263px;
  top: -3px;
}

.features__item-credit::after {
  content: url(../img/index/svg/credit.svg);
  position: absolute;
  right: -263px;
  top: -3px;
}

/* PARTNERS */

.partners__list {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 95px;
}

.partners__list a {
  transition: filter 300ms;
  display: block;
  filter: opacity(0.2) grayscale(1);
}

.partners__list a:hover, .partners__list a:focus {
  filter: opacity(1) grayscale(0)
}

/* INFORMATION */

.information {
  display: grid;
  grid-template-columns: 473px 560px;
  grid-template-rows: auto;
  grid-template-areas: "about-us contacts";
  margin-top: 90px;
  padding-top: 13px;
  column-gap: 127px;
  margin-bottom: 75px;
}

.about-us {
  grid-area: about-us;
  display: flex;
  flex-direction: column;
}

.about-us__button {
  margin-top: auto;
  margin-left: 2px;
  max-width: 260px;
}

.contacts {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
}

.map-link {
  margin-top: 16px;
}

.contacts-button {
  margin-top: auto;
  /* margin-left: 0px; */
  max-width: 260px;
}

.information__title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-bottom: 25px;
  position: relative;
}

.information__title::before {
  content: "";
  background-color: var(--basic-black);
  width: 80px;
  height: 7px;
  position: absolute;
  top: -56px;
}

.information__subtitle {
  font-family: var(--common-OpenSans);
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 25px;
}

.about-us__delivery-partners {
  margin-top: 35px;
  margin-bottom: 53px;
  margin-left: 32px;
}

.about-us__delivery-partners li {
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 15px;
  position: relative;
  align-items: center;
  display: flex;
}

.about-us__delivery-partners li::before {
  content: "";
  border: 2px solid var(--basic-grey-light);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: -32px;
}

/* FOOTER */

.main-footer {
  background-color: var(--basic-dark);
  display: grid;
  align-content: center;
  margin-top: 2px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 72px 61px 85px;
  grid-template-areas: ". main-footer__client-navigation main-footer__client-navigation " "main-footer__address  main-footer__navigation main-footer__contacts " ". main-footer__social-buttons logo-html-academy";
  padding: 46px 20px 64px 20px;
  align-items: center;
}

.main-footer__client-navigation {
  grid-area: main-footer__client-navigation;
  width: 100%;
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
  margin-top: 12px
}

.main-footer__client-button:hover {
  opacity: 1;
}

.main-footer__client-button:active {
  opacity: 0.3;
}

.client-logout {
  margin-left: -40px;
}

.main-footer__client-navigation li {
  display: flex;
  margin-left: 65px;
  margin-top: -12px;
}

.main-footer__address {
  font-family: var(--common-OpenSans);
  grid-area: main-footer__address;
  width: fit-content;
  margin-left: -13px;
  display: grid;
}

.main-footer__navigation {
  grid-area: main-footer__navigation;
  display: flex;
  justify-content: space-between;
  margin-left: 65px;
  width: 426px;
}

.main-footer__navigation li:hover {
  opacity: 0.6;
}

.main-footer__navigation li:active {
  opacity: 0.3;
}

.main-footer__contacts {
  grid-area: main-footer__contacts;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.main-footer__social-buttons {
  grid-area: main-footer__social-buttons;
  display: flex;
  margin-left: 208px;
  justify-content: space-between;
  align-self: flex-end;
  max-width: 136px;
  position: relative;
}

.main-footer__social-buttons a {
  opacity: 0.3;
}

.main-footer__social-buttons a:hover {
  opacity: 0.6;
}

.main-footer__social-buttons a:active {
  opacity: 0.1;
}

.main-footer__social-buttons::before {
  content: url(../img/index/svg/Rectangle-yellow.svg);
  right: 568px;
  top: 5px;
  position: absolute;
}

.client-login {
  margin-right: -42px;
  margin-left: 12px;
  position: relative;
}

.client-login::before {
  content: url(../img/index/svg/icon-user-yellow.svg);
  position: absolute;
  left: -22px;
}

.main-footer__facebook {
  content: url(../img/index/svg/facebook.svg);
}

.main-footer__instagram {
  content: url(../img/index/svg/icon_instagram.svg);
}

.main-footer__twitter {
  content: url(../img/index/svg/icon_twitter.svg);
}

.main-footer__contacts, .main-footer__contacts>a {
  font-family: var(--common-OpenSans);
  color: var(--basic-white);
  opacity: 0.7;
  font-size: 15px;
  line-height: 20px;
}

.client-navigation__item, .main-footer__client-button {
  color: var(--basic-white);
}

.main-footer__navigation .client-navigation__item {
  color: var(--basic-white);
}

.main-footer__address {
  font-family: var(--common-OpenSans);
  opacity: 0.7;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  margin-left: 1px;
}

.main-footer__client-button {
  opacity: 70%;
  position: relative;
}

.main-footer__client-button__login::before {
  content: url(../img/index/svg/icon-user-yellow.svg);
  position: absolute;
  left: -20px;
}

.main-footer__client-button__compare::before {
  content: url(../img/index/svg/icon-compare-yellow.svg);
  position: absolute;
  left: -22px;
}

.main-footer__client-button__basket::before {
  content: url(../img/index/svg/icon-basket-yellow.svg);
  position: absolute;
  left: -22px;
}

.logo-html-academy {
  grid-area: logo-html-academy;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding-bottom: 5px;
}

/*------- Модальное окно "Напишите нам "------- */

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 960px;
  height: 560px;
  transition: hidden 300ms, visibility 300ms linear;
}

.modal.visible {
  opacity: 1;
  visibility: visible;
}

.modal-write-us__login-form {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  background-color: var(--basic-white);
  padding: 92px 100px 69px 100px;
}

.modal-name {
  display: flex;
  justify-content: space-between;
}

.modal-input {
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  margin-bottom: 15px;
}

.modal-input input {
  background-color: var(--modal-background-color);
  height: 50px;
  border: 2px solid transparent;
  padding-left: 20px;
}

.textaria {
  width: 100%;
  height: 167px;
  background-color: var(--modal-background-color);
  border: 2px solid transparent;
  padding-top: 16px;
  resize: none;
  padding-left: 20px;
}

.modal-input input:focus:invalid {
  background-color: var(--status);
  color: inherit;
}

.modal-input input:hover, .textaria:hover {
  background-color: var(--modal-background-color-hover);
}

.modal-input input:focus, .modal-text .textaria:focus {
  background-color: transparent;
  border: 2px solid var(--special-yellow);
  outline: none;
}

.modal-input input::placeholder, .textaria::placeholder {
  font-family: var(--common-OpenSans);
  border: 2px solid transparent;
}

.modal-name label, .modal-write-us__text {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.modal-write-us__text {
  display: block;
  margin-bottom: 10px;
}

.modal-text {
  margin-top: 16px;
  margin-bottom: 27px;
}

.modal-write-us__button-send {
  margin-top: 42px;
  display: block;
  width: 200px;
}

.modal-write-us__button-exit {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: var(--special-yellow-dark);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.modal-write-us__button-exit:after {
  content: url(../img/index/svg/icon_cross.svg);
  position: relative;
  height: 20px;
  width: 20px;
  opacity: 0.5;
}

.modal-write-us__button-exit:hover, .modal-write-us__button-exit:after {
  opacity: 1;
}

.modal-write-us__button-exit:active {
  opacity: 0.3;
}

.modal-map {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  width: 960px;
  height: 563px;
  background-image: url(../img/index/jpeg/map-big.jpg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: opacity 300ms, visibility 300ms linear;
}

.modal-map.visible {
  opacity: 1;
  visibility: visible;
}

.modal-map__button-exit {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: var(--special-yellow-dark);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.modal-map__button-exit:after {
  content: url(../img/index/svg/icon_cross.svg);
  position: relative;
  height: 20px;
  width: 20px;
  opacity: 0.5;
}

.modal-map__button-exit:hover, .modal-map__button-exit:after {
  opacity: 1;
}

.modal-map__button-exit:active {
  opacity: 0.3;
}

/* Страница catalog.html */

/* section container-center */

.catalog__container-center {
  --filter-width: 330px;
  --products-width: 732px;
  display: grid;
  grid-template-columns: auto var(--filter-width) var(--products-width) auto;
  grid-template-areas: "breadcrumbs  breadcrumbs breadcrumbs breadcrumbs" "filter filter products products";
}

.breadcrumbs {
  grid-area: breadcrumbs;
}

.main-container {
  display: flex;
}

.main-crumbs-container {
  grid-area: breadcrumbs;
  padding-bottom: 50px;
  padding-left: 80px;
}

.main-crumbs__title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
  margin-bottom: 30px;
  margin-top: 44px;
}

.crumbs-links {
  font-family: var(--common-OpenSans);
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  display: flex;
}

.less li:not(:first-child)::before {
  content: url(../img/catalog/svg/less.svg);
  right: 15px;
  bottom: 2px;
  position: relative;
}

.crumbs-link__item {
  opacity: 0.3;
  margin-right: 33px;
  color: var(--basic-black);
}

.crumbs-link__item:hover {
  opacity: 0.6;
}

.crumbs-link__item:active {
  opacity: 1;
}

.crumbs-link__item:visited {
  color: var(--basic-black);
}

.sort-crumbs {
  display: flex;
  margin-right: calc(100% - var(--products-width) - 110px);
  margin-left: 72px;
  height: 70px;
  align-items: center;
}

.sort-crumbs__title {
  margin: 0 73px 0 0;
  display: flex;
  align-self: center;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort-links {
  font-family: var(--common-OpenSans);
  font-size: 14px;
  line-height: 19px;
  font-weight: 800;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.sort-link__item {
  margin-right: 30px;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-link__item:hover {
  opacity: 0.6;
}

.sort-link__item:active {
  opacity: 1;
}

.sort-link__item_activated {
  opacity: 1;
}

.triangle-list {
  display: flex;
  margin-left: auto;
  padding-right: 15px;
}

.triangle-up, .triangle-down {
  opacity: 0.2;
}

.triangle-up:hover, .triangle-down:hover {
  opacity: 0.4;
}

.triangle-up:active, .triangle-down:active {
  opacity: 1;
}

.triangle-active {
  opacity: 1;
}

.triangle-up::before {
  content: url(../img/catalog/svg/triangle-opacity.svg);
  margin-right: 23px;
}

.triangle-down::after {
  content: url(../img/catalog/svg/ico-triangle.svg);
}

.filter {
  background-color: var(--basic-grey-light);
  grid-area: filter;
}

.filter-crumbs__color {
  background-color: var(--basic-grey-light);
}

.filter-crumbs {
  display: flex;
  margin-right: calc(100% - var(--products-width) - 110px);
  margin-left: 47px;
  padding: 25px;
  position: relative;
}

.rectangle {
  margin-left: 230px;
}

.filter-title {
  background-color: #dcdcdc;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 25px 0 25px calc(100% - var(--filter-width) + 60px);
  text-align: center;
  margin-bottom: 70px;
  padding-right: 193px;
}

.filter__item {
  margin: 0 auto;
}

.filter__subtitle {
  letter-spacing: 0.1em;
  margin-bottom: 9px;
  border-top: 2px solid var(--basic-black);
  display: block;
  width: 78%;
  padding-top: 14px;
  padding-bottom: 9px;
}

.filter-item legend {
  line-height: 17px;
}

.filter-subtitle__name {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  line-height: 17px;
  margin-bottom: 18px;
}

.filter-color-padding {
  margin-bottom: 15px;
}

.filter__cost {
  margin-bottom: 50px;
}

.filter__form {
  width: var(--filter-width);
  margin-left: auto;
  padding-left: 47px;
}

.filter__buttons {
  margin-left: 12px;
  margin-top: 7px;
  width: 200px;
}

.filter-list li {
  margin-bottom: 12px;
  position: relative;
}

.filter-list {
  margin-bottom: 26px;
}

.filter__form>fieldset {
  border: none;
}

.filter__color {
  font-family: var(--common-OpenSans);
  font-size: 14px;
  line-height: 19px;
}

.filter-radio {
  font-family: var(--common-OpenSans);
  font-size: 14px;
  line-height: 19px;
}

/* ------------checkbox------------- */

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
}

.custom-checkbox+label {
  display: flex;
  align-items: center;
  user-select: none;
  border: 1px solid transparent;
}

.custom-checkbox+label::before {
  content: "";
  display: flex;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
  margin-right: 18px;
  margin-top: 1px;
}

.custom-checkbox:checked+label::before {
  content: url(../img/catalog/svg/img-checked.svg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox+label:hover {
  opacity: 0.6;
}

.custom-checkbox+label:active {
  opacity: 1;
}

.custom-checkbox:disabled+label {
  opacity: 0.6;
}

/* ------radio------- */

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 15px 0 0 9px;
}

.filter-radio li {
  margin-bottom: 22px;
}

.custom-radio+label {
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
}

.custom-radio:disabled+label {
  opacity: 0.6;
}

.custom-radio+label:hover {
  opacity: 0.6;
}

.custom-radio+label:focus {
  opacity: 0.6;
}

.custom-radio+label:active {
  opacity: 1;
}

.custom-radio+label:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.custom-radio+label:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--basic-black);
  opacity: 0;
}

.custom-radio:checked+label:after {
  opacity: 1;
}

/* раздел товаров */

.filter-crumbs__title {
  font-family: var(--common-Gilroy);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 74px;
  margin-top: 0;
  margin-bottom: 0;
}

.products {
  grid-area: products;
  display: flex;
  flex-direction: column;
}

.products-list {
  margin-top: 69px;
  padding-left: 72px;
  padding-bottom: 23px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  max-width: 840px;
  column-gap: 40px;
  row-gap: 33px;
}

.product__option a {
  color: var(--basic-black);
}

.products-name {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin-top: 1px;
}

.products-price {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin-left: 37px;
  padding-top: 5px
}

.products-list__comparison {
  font-family: var(--common-OpenSans);
  letter-spacing: 0.1em;
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  opacity: 0.5;
  outline: none;
}

.products-list__button {
  transition: height 300ms;
}

.products-list__comparison:hover {
  opacity: 1;
}

.products-list__comparison:active {
  opacity: 0.2;
}

.products-list__item {
  align-items: center;
}

.container__item {
  position: relative;
  display: grid;
}

.container__item-new::after {
  content: url(../img/catalog/svg/new.svg);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 60px;
  z-index: 2;
}

.product-buttons {
  position: absolute;
  display: grid;
  align-content: center;
  justify-content: center;
  row-gap: 13px;
  width: 100%;
  height: 100%;
  padding-right: 7px;
  opacity: 0;
  transition: opacity 300ms, visibility 300ms linear;
}

.product-buttons::before {
  content: "";
  width: 200px;
  position: relative;
  padding-top: 19px;
}

.product-buttons:hover {
  background: var(--button-background);
  opacity: 1;
}

.products-list__button:hover {
  background-color: var(--special-yellow-dark);
}

.products-pages {
  background-color: var(--basic-grey-light);
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  grid-template-rows: 70px;
  grid-template-areas: "products-page__link-back product-page__items products-page__link-next";
  margin-right: calc(100% - var(--products-width) - 100px);
  margin-left: 71px;
  margin-bottom: 77px;
  align-items: center;
  position: relative;
}

.product__option {
  display: grid;
  grid-template-columns: 243px 130px;
  margin-top: 28px;
}

.product-page__items {
  grid-area: product-page__items;
  display: grid;
  grid-template-columns: repeat(3, 20px);
  grid-template-rows: 1fr;
  column-gap: 18px;
  justify-content: center;
  justify-items: center;
  padding-top: 2px;
}

.products-page_active{
  opacity: 1;
}

.product-page__item {
  color: var(--basic-black);
  opacity: 0.3;
}
.product-page__item:not(.products-page_active):hover{
opacity: 0.6;
}

.product-page__item:not(.products-page_active):active{
  opacity:1;
}

.products-page__link-back {
  grid-area: products-page__link-back;
  padding-left: 30px;
  align-items: center;
}

.products-page__link-back:hover {
  background-color: var(--pagination-color);
  align-content: center;
  height: 100%;
  display: grid;
  width: 100%;
}

.products-page__link-back:active  .span-opacity{
  opacity: 0.3;
}

.products-page__link-next {
  grid-area: products-page__link-next;
  padding-right: 30px;
  padding-left: 25px;
  margin-left: auto;
}

.products-page__link-next:active .span-opacity {
  opacity: 0.3;
}

.products-page__link-next:hover {
  content: "";
  background-color: var(--pagination-color);
  align-content: center;
  height: 100%;
  display: grid;
  width: 100%;
}

.products-pages>a:visited {
  color: var(--basic-black)
}

.product-page__items {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 1;
}

.product-page__item {
  color: var(--basic-black);
}

.products-page_active {
  opacity: 1;
}

.products-page__link-back, .products-page__link-next {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.range-filter {
  width: 260px;
  margin-top: 14px;
}

.range-controls {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--range-controls-scale);
  width: 185px;
  margin-right: 30px;
}

.range-controls .bar {
  width: 100%;
  height: 2px;
  background: var(--range-controls-bar);
  width: 120px;
  position: absolute;
  left: 18px;
  margin-left: -10px;
}

.range-controls .toggle {
  position: absolute;
  top: -8px;
  left: 0;
  width: 18px;
  height: 18px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  right: -10px;
}

.range-controls .toggle-max {
  left: 115px;
}

.price-controls {
  display: flex;
  margin-bottom: 28px;
  width: 230px;
}

.price-name {
  position: relative;
  right: -16px;
  top: 17px;
  font-size: 14px;
  line-height: 16px;
}

.price-name-start {
  position: relative;
  left: -1px;
  top: 17px;
}

.price-controls label {
  font-size: 14px;
  line-height: 16px;
}

.input-start {
  position: relative;
  left: 16px;
}

.price-controls input {
  width: 80px;
  display: flex;
  top: -1px;
  right: -36px;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: transparent;
  font-size: 14px;
  line-height: 16px;
  position: relative;
}
